
img {
    width: 150px;
    height: 150px;
}

ul {
    float: left;
    display: flex;
    justify-content: space-around;
}

ul li {
    margin: 30px;
}

body {
    background-color: rgba(113, 250, 255, 0.7);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size-adjust: inherit;
    font-size: 50pt;
    text-align: center;
    color: rgb(0, 0, 0);
}

h2 {
    position: sticky;
    color: rgba(0, 0, 0, 0.671);
}

h3 {
    color: rgb(5, 7, 7);
    padding-top: 50px;
}

img {
    justify-content: center;
    width: 150px;
    height: 150px;
}

li {
    float: left;
    align-items: center;
}